nav {
  float: left;
  padding-right: 40px;
  padding-bottom: 900px;
}

.image1 {
  width: 180px;
  height: 180px;
}

.image2 {
  width: 200px;
  height: 150px;
}

.image3 {
  width: 120px;
  height: 140px;
}

main {
  height: 100vh;
  padding-right: 80px;
  padding-top: 3px;
}

ul {
  list-style-type: none;
}

h1 {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 60px;
}

h3 {
  margin-top: 0px;
  font-style: italic;
}

body {
  font-family: 'Courier New', monospace;
}

footer {
  padding-top: 300px;
}