nav {
  float: left;
  padding-right: 40px;
  padding-bottom: 500px;
}

img {
  width: 300px;
  height: 400px;
}

.three-columns {
  display:flex;
}

/* columns */
.three-columns > * {
  width:calc(100% / 3);
  padding:1rem;
}

main {
  height: 100vh;
  padding-right: 80px;
  padding-top: 3px;
}

ul {
  list-style-type: none;
}

h1 {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 60px;
}

h3 {
  margin-top: 0px;
  font-style: italic;
}

body {
  font-family: 'Courier New', monospace;
}

